.container {
  width: 100%;
  height: 80vh;
  margin: auto;
  background-image: url(../image/svm.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color;
  .head {
    display: flex;
    justify-content: space-between;
    .logo {
      font-family: $navfont;
      font-size: 2rem;
      padding: 1rem;
    }
  }
  .menu {
    padding-top: 2rem;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        padding-right: 2rem;
        list-style: none;
        a {
          text-decoration: none;
          font-family: $navfont;
          font-size: 1rem;
          border-bottom: 3px transparent solid;
          padding-bottom: 0.5rem;
          transform: 0.5s;
          cursor: pointer;
          &:hover {
            color: blue;
            border-color: rgb(122, 148, 174);
          }
          &.active {
            color: blue;
            border-color: rgb(122, 148, 174);
          }
        }
      }
    }
  }
  .profile {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    .text {
      font-family: $navfont;
      text-transform: uppercase;

      h2 {
        text-align: center;
      }
    }
    .textt {
      padding-top: 3rem;
      font-family: "roboto";
      .button {
        width: 200px;
        height: 60px;
        border: 1px solid rgb(195, 195, 216);
        border-radius: 10px;
        &:hover {
          background-color: rgb(195, 195, 216);
          color: blue;
        }
      }
    }
  }
}
